<div class="row mt-4">
  <div class="col-8">
    <table class="table">
      <caption></caption>
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Común</th>
          <th scope="col">Tipo</th>
          <th scope="col">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planta of plantas">
          <th scope="row">{{ planta.id }}</th>
          <td>{{ planta.nombre_comun }}</td>
          <td>{{ planta.tipo }}</td>
          <td>{{ planta.clima }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    Total Plantas de interior: <span  data-testid="Interior">{{ totalPlantasInterior['Interior'] || 0 }}</span>
    <br>
    Total Plantas de exterior: <span  data-testid="Exterior">{{ totalPlantasInterior['Exterior'] || 0 }}</span>
  </div>

</div>
