<header>
  <div class="container my-3">
    <h1>Vivero El Otoño</h1>
    <hr size="2px" color="black" />
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <img width="100%" src="assets/headerimg.png" alt="plantas" class="py-3">
      </div>
    </div>
    <app-planta-list></app-planta-list>
  </div>
</main>
<footer>
  <div class="footer">
    <p class="info">Contact us:  +57 3102105253 - info@viveroelotonio.com - @viveroelotonio
    </p>
  </div>
</footer>
